body{
	text-align: center;
	background: url( "../img/Kakashi.png"); 
	background-size: cover;
	
}
img{
	box-shadow: 0px 0px 40px 10px orange;
	border-radius: 90px 50px 90px 50px ;
	
	font-size: 5em;
}
#input{
	color: white;
	background: red;
	border: none;
	height: 35px;
	width: 60px;
}
#email{
	height: 31px;
	width: 200px;
}


